*{
    padding: 0px;
    margin: 0px;
    font-family: "Ojuju", sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.main{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    max-width: 45%;
    background-color: black;
    height: 420px;
    color: aliceblue;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#len{
    margin-top  : 20px;
    display:flex;
}
#lengthpsd{
    margin-left: 223px;
    max-width: 80px;
}
#a1,#a2,#a3,#a4{
    margin-left: 254px;
}
.checkbox{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
button{
    background-color: #2ecc71;
    margin-top: 20px;
    height: 30px;
    border-radius: 10px;
    font-size: medium;
}
#answer{
    text-align: center;
    font-size: larger;
    background-color: white;
    margin:auto;
    width: 50%;
    color: black;
}